
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    border: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Garmond', serif;
    background: #424242 url('./images/bg-texture.png');
    color: lightgrey;
    line-height: 1.5;
}

h1 {
    line-height: 1.1;
    font-weight: 400;
    font-size: 65px;
    color: white;
}

a {
    color: white;
    transition: 400ms smooth;
}

a:hover {
    color: #c12727;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 2160px;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}



/* ========================= Nav ========================= */
nav {
    height: 120px;
    width: 100vw;
    background: #3a3a3a;
    border-bottom: 3px #2e2e2e;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__btn {
    display: none;
}

.nav__logo {
    width: 300px;
}

.nav__links {
    display: flex;
    gap: 45px;
}

/* ========================= Header ========================= */
header {
    position: relative;
    top: 120px;
}

/* ========================= About ========================= */
#about {
    margin-top: 350px;
}

.about__container {
    display: grid;
    grid-template-columns: 160px 415px auto;
    gap: 50px;
    position: relative;
}

.about__title {
    position: absolute;
    top: -115px;
    z-index: 1;
}

.about__image {
    position: relative;
}

.about__image-back {
    width: 255px;
    height: 385px;
    position: absolute;
    bottom: 0;
    background: black;
}

.about__image-full {
    position: relative;
    left: 16px;
    bottom: 16px;
    filter: saturate(0) brightness(0.3);
    transition: 500ms ease;
}

.about__image-crop {
    position: absolute;
    top: 48px;
    left: 128px;
    height: 350px;
    width: 350px;
    overflow: hidden;
    box-shadow: 32px 32px 32px rgba(0, 0, 0, 0.2);
    transition: 500ms ease;
}

.about__image:hover .about__image-crop {
    opacity: 0;
}

.about__image:hover .about__image-full {
    margin-top: 10px;
    filter: saturate(1) brightness(1);
    box-shadow: 0 48px 48px rgba(0, 0, 0, 0.2);
    border: 20px solid black;
    left: 0;
    bottom: 0;
}

.about__right {
    margin-left: 80px;
}

.about__right p {
    margin: 0 64px 24px 0;
}

/* ========================= GALLERY ========================= */
#gallery {
    margin-top: 190px;
    background:  #424242 url('./images/bg-texture1.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.gallery__head {
    margin-top: 95px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.swiper-wrapper {
    margin-top: 80px;
    height: 595px;
}

.swiper-slide {
    border: 10px solid black;
    height: fit-content;
    max-height: 575px;
    overflow: hidden;
    transition: 400ms ease;
    bottom: 80px;
}

.swiper-slide:hover {
    box-shadow: 0 48px 48px rgba(0, 0, 0, 0.4);
}

.swiper-slide img {
    filter: saturate(0);
    transition: 400ms ease;
}

.swiper-slide:hover img {
    filter: saturate(1)
}

.swiper-pagination-bullet {
    background: #c12727;
}


/* ========================= project ========================= */
#projects {
    margin-top: 80px;
}

.projects__container {
    position: relative;
}

.projects__head {
    display: grid;
    grid-template-columns: auto 160px;
    justify-content: space-between;
    align-items: center;
}

.projects__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
    gap: 50px;
}

.projects__gallery div {
    border: 10px solid black;
    transition: 400ms ease;
}

.projects__gallery div img{
    height: 100%
}

.projects__gallery div:nth-child(1) {
    grid-row: 1/3;
}

.projects__gallery div:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
}


/* ========================= FOOTER ========================= */
footer {
    margin-top: 115px;
}

.footer__container {
    border-top: 10px solid black;
    padding-top: 100px;
}

.footer__links {
    margin: 48px 0 80px;
    display: flex;
    align-items: center;
    gap: 80px;
}


/*============================= phone screens =============================*/
/* @media rules: https://www.w3schools.com/cssref/css3_pr_mediaquery.php */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 32px;
        line-height: 1.3;
        color: white;
    }

    /* =============== nav =============== */
    .nav__links {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        display: none;
        perspective: 400px;
    }
    .nav__links li {
        height: 80px;
        box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
        animation: navAnimation 600ms ease forwards;
        transform: rotateX(90deg);
        opacity: 0;
        transform-origin: top;
    }

    .nav__links li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__links li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav__links li:nth-child(4) {
        animation-delay: 600ms;
    }

    /* @keyframes rules: https://www.w3schools.com/cssref/css3_pr_animation-keyframes.php */
    @keyframes navAnimation {
        to {
            transform: rotateX(0);
            opacity: 1;
        }
    }
    .nav__links li a {
        background: #3a3a3a;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px 80px 15px 50px;
        border-top: 1px solid #2e2e2e;
    }

    .nav__btn {
        display: inline-block;
        font-size: 32px;
        background: transparent;
        cursor: pointer;
        color: white;
    }

    #nav__btn-close {
        display: none;
    }


    /* =============== ABOUT =============== */
    .about__container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .about__right p {
        width: 100%;
    }

    /* =============== GALLERY =============== */
    #gallery {
        margin-top: 95px; 
        background: rgb(169, 168, 168);
    }

    .gallery__container p {
        margin-top: 16px;
    }

    .swiper-wrapper {
        margin-top: 48px;
    }

    /* =============== projects =============== */
    #projects {
        margin-top: 96px;
    }

    .projects__head {
        grid-template-columns: 1fr;
    }

    .projects__head > p {
        margin-top: 16px;
    }

    .projects__gallery {
        display: block;
    }

    .projects__gallery div {
        width: 100%;
        height: fit-content;
        margin-bottom: 16px;
    }


    /* =============== FOOTER =============== */

    .footer__links {
        gap: 32px;
        margin-top: 30px;
    }


}

