* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    display: inline-block;
    text-align: left;
    margin-bottom: 60px;
    padding: 5px 5px
}

a:hover {
    background-color: yellow;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.products, .cart{
    text-transform: uppercase;
    border: none;
    margin-bottom: 6px;
}

hr {
    border-style: solid;
    border-width: 2px;
}

h1 {
    font-size: 40px;
    font-family: 'roboto';
    font-weight: lighter;
}

h2 {
    font-size: 22px;
    font-family: 'roboto';
    font-weight: lighter;
}

h3 {
    font-size: 14px;
    font-family: 'roboto';
    font-weight: lighter;
}

h4 {
    font-size: 14px;
    font-family: 'roboto';
    font-weight: bold;
}