* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    margin-bottom: 60px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20 0 0 20;
}

.rowone, .rowtwo, header {
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
}

.boxone{
    margin-left: 115px;
}

.boxtwo {
    margin-left: 57.5px;
    margin-right: 57.5px;
}

.boxthree {
    margin-right: 115px;
}

.logo{
    height: 285px;
    float: left;
    margin-top: -30px;
}

.page-header{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    text-align: center;
    font-size: 30px;
}

nav {
    margin-left: 500px;
    float: right;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    margin: 40px;
    text-align: right;
    float: right;
}

hr {
    margin-right: -20px;
    margin-left: 20px;
}

.prod{
    border: 2px solid black;
}

a:hover {
    background-color: yellow;
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.logo {
    border: 0px;
    text-align: left;
    display:block
}

.logo:hover {
    background-color:white;
    font-weight:initial;
}

.products, .cart{
    text-transform: uppercase;
    border: none;
    margin-top: -25px;
    margin-bottom: -50px;
    float: right;
}

.cartimg {
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 0px;
}

hr {
    border-style: solid;
    border-width: 2px;
}

h1 {
    font-size: 40px;
    font-family: 'roboto';
    font-weight: lighter;
}

h2 {
    font-size: 22px;
    font-family: 'roboto';
    font-weight: lighter;
}

h3 {
    font-size: 14px;
    font-family: 'roboto';
    font-weight: lighter;
    margin: 1px;
}

h4 {
    font-size: 14px;
    font-family: 'roboto';
    font-weight: bold;
    display: inline;
}