
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    border: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Garmond', serif;
    background: #424242 url('./images/bg-texture.png');
    color: lightgrey;
    line-height: 1.5;
}

h1, h2 {
    line-height: 1.1;
    font-weight: 400;
}

h1 {
    font-size: 65px;
    color: white;
}

h2 {
    font-size: 65px;
}

a {
    color: white;
    transition: 400ms smooth;
}

a:hover {
    color: #c12727;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 2160px;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}



/* ========================= Nav ========================= */
nav {
    height: 120px;
    width: 100vw;
    background: #3a3a3a;
    border-bottom: 3px #2e2e2e;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* only need on tablets and phones */
.nav__toggle-btn {
    display: none;
}

.nav__logo {
    width: 300px;
}

.nav__links {
    display: flex;
    font-size: 25px;
    gap: 65px;
}

/* ========================= Header ========================= */
header {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 120px;
    overflow: hidden;
}

/* ========================= ABOUT ========================= */
#about {
    margin-top: 290px;
}

.about__container {
    display: grid;
    grid-template-columns: 160px 415px auto;
    gap: 50px;
    position: relative;
}

.about__title {
    position: absolute;
    top: -115px;
    z-index: 1;
}

.about__image {
    position: relative;
}

.about__image-bg {
    width: 255px;
    height: 385px;
    position: absolute;
    bottom: 0;
    background: black;
}

.about__image-lg {
    position: relative;
    left: 16px;
    bottom: 16px;
    filter: saturate(0) brightness(0.3);
    transition: 500ms ease;
}

.about__image-sm {
    position: absolute;
    top: 48px;
    left: 128px;
    height: 350px;
    width: 350px;
    overflow: hidden;
    box-shadow: 32px 32px 32px rgba(0, 0, 0, 0.2);
    transition: 500ms ease;
}

.about__image:hover .about__image-sm {
    opacity: 0;
}

.about__image:hover .about__image-lg {
    margin-top: 10px;
    filter: saturate(1) brightness(1);
    box-shadow: 0 48px 48px rgba(0, 0, 0, 0.2);
    border: 20px solid black;
    left: 0;
    bottom: 0;
}

.about__right {
    margin-left: 80px;
}

.about__right p {
    margin: 0 64px 24px 0;
}

/* ========================= Email button ========================= */

.about__btn {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 400ms ease;
    color: #c12727;
    align-self: end;
}

.about__btn p span {
    position: absolute;
    transform-origin: 5px 80px;
}

.about__btn p {
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    animation: spinText 30s linear infinite;
}

.about__btn i {
    font-size: 50px;
    position: absolute;
}

.about__btn:hover {
    transform: translateY(-1rem);
    color: #e41616;
}


@keyframes spinText {
    to {
        transform: rotate(360deg);
    }
}

/* ========================= GALLERY ========================= */
#gallery {
    margin-top: 190px;
    background:  #424242 url('./images/bg-texture1.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.gallery__head {
    margin-top: 95px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.swiper-wrapper {
    margin-top: 80px;
    height: 595px;
}

.swiper-slide {
    border: 10px solid black;
    height: fit-content;
    max-height: 575px;
    overflow: hidden;
    transition: 400ms ease;
    bottom: 80px;
}

.swiper-slide:hover {
    box-shadow: 0 48px 48px rgba(0, 0, 0, 0.4);
}

.swiper-slide img {
    filter: saturate(0);
    transition: 400ms ease;
}

.swiper-slide:hover img {
    filter: saturate(1)
}

.swiper-pagination-bullet {
    background: #c12727;
}


/* ========================= project ========================= */
#projects {
    margin-top: 80px;
}

.projects__container {
    position: relative;
}

.projects__head {
    display: grid;
    grid-template-columns: auto 160px;
    justify-content: space-between;
    align-items: center;
}

.projects__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
    gap: 50px;
}

.projects__gallery div {
    border: 10px solid black;
    transition: 400ms ease;
}

.projects__gallery div:nth-child(1) {
    grid-row: 1/3;
}

.projects__gallery div:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
}

.projects__gallery div img {
    height: 100%;
    filter: saturate(0);
    transition: 400ms ease;
}

.projects__gallery div:hover img {
    filter: saturate(1);
}

.projects__gallery div:hover {
    box-shadow: 0 64px 64px rgba(0, 0, 0, 0.5);
}


/* ========================= FOOTER ========================= */
footer {
    margin-top: 115px;
}

.footer__container {
    border-top: 10px solid black;
    padding-top: 100px;
}

.footer__head {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer__links {
    margin: 48px 0 80px;
    display: flex;
    align-items: center;
    gap: 80px;
}


/*============================= phone screens =============================*/
@media screen and (max-width: 600px) {
    h1, h2 {
        font-size: 32px;
        line-height: 1.3;
        color: white;
    }

    header {
        padding: 0;
        padding-bottom: 95px;
    }

    .header__container {
        grid-template-columns: 1fr;
        gap: 16px;
        text-align: center;
    }

    .header__image-lg {
        width: 80%;
        height: 320px;
        margin: 0 auto;
        margin-top: 112px;
        overflow: hidden;
        border-radius: 240px 240px 0 0;
    }
    
    .header__head {
        justify-content: center;
    }

    .header__right p {
        margin-top: 16px;
    }

    .header__title {
        margin-top: 16px;
    }



    /* =============== ABOUT =============== */
    .about__container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .about__right p {
        width: 100%;
    }

    .swiper-slide {
        border: 0;
    }




    /* =============== GALLERY =============== */
    #gallery {
        margin-top: 95px;
    }

    .gallery__container p {
        margin-top: 16px;
    }

    .swiper-wrapper {
        margin-top: 48px;
    }



    /* =============== projects =============== */
    #projects {
        margin-top: 96px;
    }

    .projects__head {
        grid-template-columns: 1fr;
    }

    .projects__head > p {
        margin-top: 16px;
    }

    .projects__gallery {
        display: block;
    }

    .projects__gallery div {
        width: 100%;
        height: fit-content;
        margin-bottom: 16px;
    }


    /* =============== FOOTER =============== */
    .footer__head {
        flex-direction: column;
    }

    .footer__head h2 {
        font-size: 24px;
    }

    .footer__links {
        flex-direction: column;
        gap: 32px;
        margin-top: 50px;
    }


}